    <%# <h1> Edit page </h1> %>
    <%# <textarea name="name" rows="20" cols="120"> %>
      <%# <%= @post[:title] %>
      <%# <%= @post[:body] %>
    <%# </textarea> %>

<h1>Edit Post</h1>
<%= erb :"partials/form", :layout=>false %>
<form class="" action="/<%= @post.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Post">
</form>
